* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://i.gifer.com/Lx0q.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

canvas {
  display: none;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(5, 5, 5, 0.233);
}
